header {
	text-align: center;
	background: darkslategray; /* fondo gris pizzarra oscuro*/
	color: white;	/* texto blanco*/
	padding: 20px 30px;	/* espacio interno 20 arriba/abajo 30 lados*/
	display: flex; /* flexbox para colocar hijos en fila*/
	flex-direction: column; /* hijos en columna*/
	align-items: center; /* centrado vertical de los hijos*/
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	font-family: Arial, sans-serif;

}



nav {
	color:aliceblue
}







table {
	width: 100%;
	margin: 10px 0px 10 px;
	background: Khaki;
	font-family: Arial, sans-serif;
	text-align: center; /* centrado vertical de los hijos*/
	border: 5px solid darkslategray;
	border-collapse: separate;
	border-radius: 15px;
	border-spacing: 0;
	font-size: 20px;
 	

}

.FOOTER{
    background-color: darkslategray;
    text-align: center;
    color: white ;
	border-radius: 15px;
}

th, td {
	
	padding: 10px;
	border: 1px solid darkslategray;



}






.PROG {background-color: crimson;}
.SIST {background-color: orchid;}
.BD {background-color: cyan;}
.IPE {background-color: tan;}
.ING {background-color: peru;}
.REC {
	background-color: yellow;
	font-weight: bold;}
.PINT {background-color: silver;}
.DIG {background-color: MistyRose;}
.LM {background-color: ForestGreen;}
.SOST {background-color: lavender;}
.ENT {background-color: coral;}
.FOOTER {font-family: Arial, sans-serif;}
.nav-link {
	color: yellow;
	text-decoration: none;
	margin: 0 10px;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}